.skills-container {
    width: 100%;
    background-color: #1E293B;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.box-50 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-text {
    color: white;
    font-size: 25px;
    text-align: left;
}
.skills-text-container {
    width: 80%;
}
.skills-header-container {
    width: 80%;
}
.skills-header-text {
    color: white;
    font-size: 56px;
    text-align: left;
}
.tech-grid {
    grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6,56px);
    margin-top: 10px;
}
.tech-icon-background {
    align-items: center;
    background-color: #0F172A;;
    border-radius: 4px;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 6px;
    text-align: center;
    width: 50px
}
.tech-icon {
    font-size: 35px;
    height: 40px;
    width: 40px
}
.services-grid {
    grid-gap: 25px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2,45%);
    justify-content: end;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}
.services-wrapper {
    align-items: center;
    animation: service-animation 8s ease-in-out infinite;
    aspect-ratio: 1/1;
    background-color: #0F172A;
    border: 3px solid;
    border-color: #7477FF;
    border-radius: 4px;
    box-shadow: inset 0 0 50px 10px #46489c2c;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.s-icon {
    color: #7477FF;
    font-size: 54px;
    height: 54px;
    width: 54px;
}
.services-text{
    font-size: 25px;
    color: white;
}
@media screen and (max-width: 1270px) {
    .skills-container {
        flex-direction: column;
    }
    .box-50 {
        width: 100%;
    }
    .skills-header-container {
        width: 90%;
    }
    .skills-text-container {
        width: 90%;
    }
  }
  @media screen and (max-width: 680px) {
    .services-grid {
        grid-template-columns: repeat(2,35%);
        grid-gap: 0px;
    }
  }
  @media screen and (max-width: 530px) {
    .tech-icon {
        font-size: 30px;
        width: 35px;
        height: 35px;
    }
    .tech-icon-background {
        width: 40px;
        height: 40px;
    }
  }
  @media screen and (max-width: 460px) {
    .tech-grid {
        grid-template-columns: repeat(4,40px);
    }
    .services-grid {
        grid-template-columns: repeat(2,30%);
        
    }
    .services-text {
        font-size: 20px;
    }
    .s-icon {
        font-size: 40px;
        height: 40px;
        width: 40px;
    }
  }