.div-50 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-container {
    width: 100%;
    background-color: #0F172A;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    flex-direction: row;
    padding-bottom: 20px;
}
.header-otsikko {
    color: white;
    font-size: 56px;
    text-align: left;
}
.header-otsikko2 {
    color: #7477FF;
    font-size: 56px;
    text-align: left;
}
.icon-container {
    display: flex;
    margin-top: 20px;
    width: 80%;
}
.button-container {
    display: flex;
    margin-top: 20px;
    width: 80%;
}
.omakuva {
    border-radius: 50px;
    box-shadow: 10px 10px #00000063;
}
.header-text-box {
    width: 80%;
    text-align: left;
}
.icons {
    font-size: 46px;
    height: 50px;
    width: 50px;
    color: white;
}
.icons:hover {
    color: #cfcfcf;
    cursor: pointer;
}
.header-otsikko-box {
    width: 80%;
}
.header-text {
    color: white;
    font-size: 25px;
    text-align: left;
}
.contact-button {
    width: auto;
    height: 45px;
    font-size: 30px;
    background-color: #7477FF;
    border-radius: 5px;
    border: none;
    color: white;
    box-shadow: 5px 5px #46489c73;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.CV-button {
    width: auto;
    height: 45px;
    font-size: 30px;
    background-color: #7477FF;
    border-radius: 5px;
    border: none;
    color: white;
    box-shadow: 5px 5px #46489c73;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    margin-left: 8px;
}
.CV-button:hover {
    background-color: #696bdf;
    cursor: pointer;
}
.contact-button:hover {
    background-color: #696bdf;
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
} 
@media screen and (max-width: 1270px) {
    .omakuva {
        width: 500px;
        height: 500px;
    }
  }
  @media screen and (max-width: 1000px) {
    .omakuva {
        width: 400px;
        height: 400px;
    }
  }
  @media screen and (max-width: 860px) {
    .header-container {
        flex-direction: column;
    }
    .div-50 {
        width: 100%;
    }
    .header-otsikko-box {
        width: 90%;
    }
    .header-text-box {
        width: 90%;
    }
    .icon-container {
        width: 90%;
    }
    .button-container {
        width: 90%;
        margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 430px) {
    .omakuva {
        width: 300px;
        height: 300px;
    }
    .button-container {
        flex-direction: column;
    }
    .contact-button {
        margin-bottom: 12px;
        margin-left: 8px;
        width: 55%;
    }
    .CV-button {
        width: 55%;
    }
  }
  @media screen and (max-width: 600px) {

    .header-otsikko {
        font-size: 30px;
    }
    .header-otsikko2 {
        font-size: 30px;
    }
    .header-text {
        font-size: 20px;
    }
    .contact-button {
        font-size: 25px;
    }
    .CV-button {
        font-size: 25px;
    }
  }