.work-container {
    width: 100%;
    background-color: #0F172A;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 40px;
}
.work-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.work-50 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.workgap {
    width: 12px;
}
.work-otsikko {
    color: white;
    font-size: 56px;
    text-align: left;
}
.work-otsikko2 {
    color: white;
    font-size: 40px;
    text-align: left;
}
.work-otsikko3 {
    color: #7477FF;
    font-size: 56px;
    text-align: left;
}
.work-text {
    color: white;
    font-size: 25px;
    text-align: left;
}
.work-80 {
    width: 80%;
    margin-top: 40px;
}
.work-otsikko-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    text-align: left;
}
@media screen and (max-width: 680px) {
    .work-box {
        flex-direction: column;
    }
    .work-50 {
        width: 100%;
    }
    .work-80 {
        width: 90%;
    }
    .work-otsikko-container {
        flex-direction: column;
    }
  }